@font-face {
	font-family:'Codeus';
	src:url('../images/Codeus.eot');
	src:url('../images/Codeus.eot?#iefix') format('embedded-opentype'), url('../images/Codeus.ttf') format('truetype'), url('../images/Codeus.woff') format('woff'), url('../images/Codeus.svg#Codeus') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'Codeus-Socials';
	src:url('../images/Codeus-Socials.eot');
	src:url('../images/Codeus-Socials.eot?#iefix') format('embedded-opentype'), url('../images/Codeus-Socials.ttf') format('truetype'), url('../images/Codeus-Socials.woff') format('woff'), url('../images/Codeus-Socials.svg#Codeus-Socials') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'Codeus-portfolio';
	src:url('../images/Codeus-portfolio.eot');
	src:url('../images/Codeus-portfolio.eot?#iefix') format('embedded-opentype'), url('../images/Codeus-portfolio.ttf') format('truetype'), url('../images/Codeus-portfolio.woff') format('woff'), url('../images/Codeus-portfolio.svg#Codeus') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'Codeus-Icons';
	src:url('../images/Codeus-Icons.eot');
	src:url('../images/Codeus-Icons.eot?#iefix') format('embedded-opentype'), url('../images/Codeus-Icons.ttf') format('truetype'), url('../images/Codeus-Icons.woff') format('woff'), url('Codeus-Icons.svg#Codeus Icons') format('svg');
	font-weight:normal;
	font-style:normal
}
