@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Geometria Light';
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	font-style: normal;
	background-color: #272533;
	color: #3b3e4f;
}
a {
	color: #7a4e71;
}
a:hover {
	color: #7a4e71;
}
a:active {
	color: #7a4e71;
}
h1 {
	font-family: 'Supra ThinDemiserif';
	font-size: 58px;
	line-height: 70px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
h2, body.home h3.widget-title {
	font-family: 'Supra ThinDemiserif';
	font-size: 36px;
	line-height: 46px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
h3 {
	font-family: 'Supra ThinDemiserif';
	font-size: 30px;
	line-height: 38px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
h4, table thead th {
	font-family: 'Supra ThinDemiserif';
	font-size: 24px;
	line-height: 31px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
h5 {
	font-family: 'Supra ThinDemiserif';
	font-size: 21px;
	line-height: 28px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
h6 {
	font-family: 'Supra ThinDemiserif';
	font-size: 19px;
	line-height: 25px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
.page-links-title {
	font-family: 'Supra ThinDemiserif';
	font-size: 19px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
.bar-title {
	color: #2c2635;
}
#footer #contacts .bar-title, #footer #contacts a {
	color: #e8ecef;
}
input[type="submit"], button, a.button, .widget input[type="submit"], .widget button, .widget a.button {
	font-family: 'Supra ThinDemiserif';
	font-size: 19px;
	line-height: 19px;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
	background-color: #56797f;
}
input[type="submit"]:before, button:before, a.button:before, .widget input[type="submit"]:before, .widget button:before, .widget a.button:before {
	color: #ffffff;
	border-color: #ffffff;
}
input[type="submit"]:hover, button:hover, a.button:hover, .widget input[type="submit"]:hover, .widget button:hover, .widget a.button:hover {
	color: #ffffff;
	background-color: #2c2635;
}
input[type="submit"]:hover:before, input[type="submit"]:hover:before, input[type="submit"]:hover:before {
	color: #ffffff;
	border-color: #ffffff;
}
input[type="submit"]:active, button:active, a.button:active {
	color: #ffffff;
	background-color: #2c2635;
}
input[type="submit"]:active:before, input[type="submit"]:active:before, input[type="submit"]:active:before {
	color: #ffffff;
	border-color: #ffffff;
}
.icon {
	color: #d0cec4;
}
.icon.active {
	color: #a5b753;
}
input[type="text"], input[type="password"], textarea, input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="number"], input[type="range"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="month"], input[type="week"] {
	background-color: #ffffff;
	color: #99a2a9;
	border-color: #d0cec4;
}
.pagination > a, .pagination > span {
	font-family: 'Supra ThinDemiserif';
	font-weight: normal;
	font-size: 30px;
	font-style: normal;
	color: #3b3e4f;
	border-color: #7a4e71;
}
.pagination .current, .pagination > span, .pagination a:hover {
	background-color: #7a4e71;
	color: #ffffff;
}
body span.styled-subtitle {
	font-family: 'Supra ThinDemiserif';
	color: #a4a39a;
	font-size: 24px;
	line-height: 31px;
}
.socials li a:hover:after {
	background-color: #a5b753;
	color: #ffffff;
}
/* LAYOUT */

#page {
	background-color: #f7f6f4;
}
/* HEADER */

.page-title-block .page-title-block-header {
	font-size: 58px;
}
#header {
	background-color: #2d2a3b;
}
#header.header-fixed {
	background-color: #2d2a3b;
}
#header #site-navigation li.current-menu-item, #header #site-navigation li.current-menu-ancestor {
}
#header #site-navigation li a {
	font-family: 'Geometria Light';
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
}
#header #site-navigation li a:hover {
	color: #a5b753;
}
#header #site-navigation li.current-menu-item > a, #header #site-navigation li.current-menu-ancestor > a {
	color: #a5b753;
}
#header #site-navigation li li {
	background-color: #ffffff;
}
#header #site-navigation li li + li {
	background-color: #ffffff;
}
#header #site-navigation li li:hover a, #header #site-navigation li li.current-menu-item a, #header #site-navigation li li.current-menu-ancestor a, #header #site-navigation li li li a {
	background-color: #dfeae0;
}
#header #site-navigation li li a {
	font-family: 'Geometria Light';
	font-size: 15px;
	line-height: 30px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
#header #site-navigation li li:hover a, #header #site-navigation li li.current-menu-item a, #header #site-navigation li li.current-menu-ancestor a {
	color: #3b3e4f;
}
#header #site-navigation li li.menu-parent-item > a:before {
	color: #a5b753;
}
#header #site-navigation li li.menu-parent-item:hover > a:before, #header #site-navigation li li.current-menu-item > a:before, #header #site-navigation li li.current-menu-ancestor > a:before {
	color: #3b3e4f;
}
#header #site-navigation li li li:hover a, #header #site-navigation li li li.current-menu-item a, #header #site-navigation li li li.current-menu-ancestor a {
	background-color: #a5b753;
}
@media only screen and (max-width:799px) {
#header #site-navigation li {
	background-color: #ffffff;
}
#header #site-navigation li.current-menu-item,  #header #site-navigation li.current-menu-ancestor {
}
#header #site-navigation li a {
	font-family: 'Geometria Light';
	font-size: 15px;
	line-height: 30px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
#header #site-navigation li a:hover {
	color: #3b3e4f;
}
#header #site-navigation li.current-menu-item > a,  #header #site-navigation li.current-menu-ancestor > a {
	color: #a5b753;
}
}
/* MAIN */

.content-wrap {
	background-color: #f5f4f0;
}
/* SIDEBAR */

.sidebar .widget + .widget {
	border-top-color: #d0cec4;
}
/* FOOTER */

#footer #contacts {
	background-color: #2d2a3b;
	color: #e8ecef;
}
#footer .socials-icons li a:after {
	color: #2d2a3b;
}
#footer .socials-icons li a:hover:after {
	background-color: #a5b753;
}
#bottom-line {
	background-color: #2d2a3b;
	color: #e8ecef;
}
#bottom-line .footer-nav li a {
	color: #e8ecef;
}
#bottom-line .footer-nav li:before {
	color: #a5b753;
}
#bottom-line .site-info {
	color: #7b848f;
}
#bottom-line .site-info a {
	color: #87d890;
}
/* SLIDESHOW */

.slideshow .nivo-caption .title {
	font-family: 'Supra ThinDemiserif';
	font-size: 31px;
	line-height: 38px;
	font-weight: normal;
	font-style: normal;
}
.slideshow .nivo-caption .description {
	font-family: 'Geometria Light';
	font-size: 15px;
	line-height: 19px;
	font-weight: normal;
	font-style: normal;
}
/* QUICKFINDER */

.quickfinder.block, .slideshow.block {
	background-color: #2e2a3c;
}
.quickfinder ul li .title {
	font-family: 'Supra ThinDemiserif';
	font-size: 24px;
	line-height: 30px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
.quickfinder ul li .description {
	font-family: 'Geometria Light';
	font-size: 16px;
	line-height: 23px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
.quickfinder.block ul li .title {
	color: #dadee1;
}
.quickfinder.block ul li .description {
	color: #dadee1;
}
.quickfinder ul li .image {
	color: #ffffff;
	background-color: #56797f;
}
/* PORTFOLIO */

/* ARROWS */

html * .ls-container .ls-nav-prev:before, html * .ls-container .ls-nav-next:before, .block.clients .prev:before, .block.clients .next:before, .block.portfolio .prev:before, .block.portfolio .next:before {
	border-color: #56797f;
	color: #805878;
}
.portfolio ul.thumbs li .title, .block.portfolio ul.thumbs li .title {
	font-family: 'Supra ThinDemiserif';
	font-size: 21px;
	line-height: 60px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
.portfolio ul.thumbs li .small-title {
	font-family: 'Supra ThinDemiserif';
	font-size: 21px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
.portfolio ul.thumbs li .description {
	font-family: 'Geometria Light';
	font-size: 17px;
	line-height: 26px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
.portfolio.block {
	background-color: #dfeae0;
}
.portfolio.block ul.thumbs li .title {
	background-color: #ffffff;
	color: #3b3e4f;
}
.portfolio.block ul.thumbs li .description {
	color: #3b3e4f;
}
.portfolio.block ul.thumbs li .small-title {
	color: #3b3e4f;
}
.portfolio ul.thumbs li .title {
	background-color: #ffffff;
}
.portfolio ul.thumbs li .title .title-hover-color {
	background-color: #56797f;
}
.portfolio ul.thumbs li .title .title-inner-content.hover {
	color: #ffffff;
}
.portfolio ul.thumbs li .share-block-toggle {
	background-color: #56797f;
	color: #ffffff;
}
.portfolio ul.thumbs li .share-block-toggle.active {
	background-color: #56797f;
}
.portfolio ul.thumbs li .share-block {
	background-color: #2c2635;
}
.portfolio ul.thumbs li .share-block a, .portfolio ul.thumbs li .share-block a:hover {
	color: #ffffff;
}
.portfolio ul.thumbs li .share-block a:hover {
	background-color: #56797f;
}
.portfolio ul.thumbs li .info {
	font-size: 18px;
}
.portfolio ul.thumbs li .info {
	color: #a4a39a;
}
.portfolio ul.filter li a {
	color: #3b3e4f;
}
.portfolio ul.filter li a:hover, .portfolio ul.filter li.active a {
	color: #a5b753;
}
.portfolio ul.filter li .icon {
	color: #d0cec4;
}
.portfolio ul.filter li a:hover .icon, .portfolio ul.filter li.active a .icon {
	color: #a5b753;
}
/* NEWS & BLOG */

.blog_list li .date-day {
	font-family: 'Supra ThinDemiserif';
	font-weight: normal;
	font-size: 36px;
	font-style: normal;
	color: #ffffff;
	background-color: #56797f;
}
.blog_list li .date-day span {
	color: #ffffff;
}
.news_list .news_item .image {
	background-color: #ffffff;
}
.news_list .news_item .date {
	color: #a4a39a;
}
.news_list .all-news a:before {
	color: #3b3e4f;
}
.blog_list li .comment-count {
	color: #a4a39a;
}
.blog_list li .post-info {
	border-color: #d0cec4;
}
.blog_list li .post-info-bottom .more-link b:before {
	color: #a5b753;
}
.newslist:before, .newslist:after {
	background-color: #ffffff;
}
.newslist > li .datetime .day {
	color: #a4a39a;
}
.newslist > li .datetime .time {
	font-family: 'Supra ThinDemiserif';
	font-size: 36px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
.newslist > li .thumbnail img {
	border-color: #ffffff;
}
.newslist > li .thumbnail .empty {
	background-color: #ffffff;
	border-color: #ffffff;
}
.newslist > li .thumbnail .empty:after {
	color: #d0cec4;
}
.newslist > li .text {
	background-color: #ffffff;
}
.newslist > li .text:after {
	border-color: transparent #ffffff transparent transparent;
}
@media only screen and (max-width:999px) {
.panel .newslist > li .text:after {
	border-color: transparent transparent #ffffff transparent;
}
}
@media only screen and (max-width:799px) {
#page .newslist > li .text:after {
	border-color:  transparent#ffffff transparent transparent;
}
}
@media only screen and (max-width:599px) {
#page .newslist > li .text:after {
	border-color: transparent transparent #ffffff transparent;
}
}
.post-tags-block {
	border-color: #d0cec4;
}
.post-tags {
	color: #a4a39a;
}
.post-author-block {
	background-color: #ffffff;
}
.post-author-avatar img {
	background-color: #f5f4f0;
}
.post-author-info .name {
	font-family: 'Supra ThinDemiserif';
	font-size: 24px;
	line-height: 31px;
	font-weight: normal;
	font-style: normal;
}
.post-author-info .date-info {
	color: #a4a39a;
}
.post-related-posts-line {
	border-color: #d0cec4;
}
.post-posts-links a {
	font-family: 'Geometria Light';
	font-size: 15px;
	line-height: 30px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
.post-posts-links a:hover {
	color: #a5b753;
}
.post-posts-links .left a:before, .post-posts-links .right a:before {
	border-color: #a5b753;
	color: #3b3e4f;
}
.related-element img {
	border-color: #ffffff;
}
.related-element.without-image > a {
	background-color: #ffffff;
}
ol.commentlist .comment-content .comment-author {
	font-family: 'Supra ThinDemiserif';
	font-size: 24px;
	line-height: 31px;
	font-weight: normal;
	font-style: normal;
}
ol.commentlist .comment-content .comment-date {
	color: #a4a39a;
}
ol.commentlist ul.children li {
	border-color: #d0cec4;
}
/* COMMENTS */

ol.commentlist li.comment {
	border-color: #d0cec4;
}
ol.commentlist {
	border-color: #d0cec4;
}
/* GALLERY */

.gallery .slide-info, .slideinfo .fancybox-title {
	background-color: #ffffff;
}
.gallery ul.thumbs li.selected a {
	border-color: #ffffff;
}
.gallery ul.thumbs li.selected a:before {
	border-color: transparent transparent #ffffff transparent;
}
.gallery .navigation .prev:before, .gallery .navigation .next:before {
	border-color: #56797f;
	color: #805878;
}
.gallery .slide-info .slide-caption, .slideinfo .fancybox-title .slide-caption {
	font-family: 'Supra ThinDemiserif';
	font-size: 21px;
	line-height: 26px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
.gallery .slide-info .slide-description, .slideinfo .fancybox-title .slide-description {
	font-family: 'Geometria Light';
	font-size: 13px;
	line-height: 26px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
/* SHORTCODES */

.divider, .divider.double, .divider.dashed {
	border-color: #d0cec4;
}
.text_box {
	background-color: #ffffff;
}
.wrap-box.style-1 .wrap-box-inner, .wrap-box.style-2 .wrap-box-inner, .wrap-box.style-6 .wrap-box-inner {
	border-color: #e0e2d7;
}
.wrap-box.style-3 .wrap-box-inner {
	border-color: #ffffff;
}
.accordion {
	border-color: #d0cec4;
}
.accordion h5:before {
	border-color: #a5b753;
	color: #3b3e4f;
}
.tabs {
	background-color: #e0e2d7;
}
.tabs > ul.tabs-nav li a {
	background-color: #ffffff;
	color: #3b3e4f;
}
.tabs > ul.tabs-nav li.ui-tabs-active a {
	background-color: #f5f4f0;
	color: #a5b753;
}
.tabs > .tab_wrapper {
	background-color: #f5f4f0;
}
.dropcap span {
	font-family: 'Supra ThinDemiserif';
	font-weight: normal;
	font-size: 30px;
	font-style: normal;
	border-color: #a5b753;
	color: #3b3e4f;
}
.simple-icon {
	border-color: #a5b753;
	color: #3b3e4f;
}
.list ul li:before {
	color: #a5b753;
}
table {
	border-color: #ffffff;
}
table thead tr {
	background-color: #ffffff;
}
table tr:nth-child(even) {
	background-color: #ffffff;
}
.alert-box > div {
	background-color: #ffffff;
}
.alert-box .alert-icon {
	border-color: #a5b753;
	color: #3b3e4f;
}
.iconed-title .icon, .iconed-text .icon {
	border-color: #a5b753;
	color: #3b3e4f;
}
.iconed-title .icon.active, .iconed-text .icon.active {
	background-color: #a5b753;
}
/* WIDGETS */

h3.widget-title {
	font-family: 'Supra ThinDemiserif';
	font-size: 28px;
	line-height: 40px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
h3.widget-title + * {
}
.widget a {
	color: #3b3e4f;
}
.widget a:hover {
	color: #48afdb;
}
.widget a:active {
	color: #48afdb;
}
/* Projects & Contact Info */
.project_info-item .title, .contact_info-item .title {
	font-family: 'Supra ThinDemiserif';
	font-size: 24px;
	line-height: 31px;
	font-weight: normal;
	font-style: normal;
	color: #a4a39a;
}
.project_info-item + .project_info-item, .contact_info-item + .contact_info-item {
	border-color: #d0cec4;
}
/* Testimonials */
.testimonial_item td {
	color: #a4a39a;
}
.testimonial_item td.image div {
	background-color: #ffffff;
}
.testimonial_item td.info .name {
	font-family: 'Supra ThinDemiserif';
	font-size: 24px;
	line-height: 31px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
/* Categories */
.widget.widget_categories ul li, .widget.widget_meta ul li {
	border-color: #d0cec4;
}
.widget.widget_categories ul li a, .widget.widget_meta ul li a {
	color: #3b3e4f;
	font-size: 15px;
}
.widget.widget_categories ul li a:hover, .widget.widget_meta ul li a:hover {
	color: #a5b753;
}
.widget.widget_categories ul li a:before, .widget.widget_meta ul li a:before {
	color: #a5b753;
}
/* Custom Recent/Popular Posts */
.widget.Custom_Recent_Posts a, .widget.Custom_Popular_Posts a, .widget.widget_recent_entries a, .widget.widget_rss a, .twitter-box a, .widget.widget_recent_comments a {
	color: #7a4e71;
}
.widget.Custom_Recent_Posts .image, .widget.Custom_Popular_Posts .image {
	background-color: #ffffff;
}
.widget.widget_recent_comments ul li:before {
	color: #d0cec4;
}
.widget_tag_cloud a {
	color: #3b3e4f;
}
.widget.widget_archive a {
	color: #7a4e71;
}
.widget.widget_archive ul li a:before {
	color: #3b3e4f;
}
/* Menu Widgets */
.widget.widget_nav_menu li, .widget.widget_submenu li {
	border-color: #d0cec4;
}
.widget.widget_nav_menu li a, .widget.widget_submenu li a {
	color: #3b3e4f;
	font-size: 15px;
}
.widget.widget_nav_menu li a:hover, .widget.widget_submenu li a:hover {
	color: #a5b753;
}
.widget.widget_nav_menu li.menu-item a:before, .widget.widget_submenu li.menu-item a:before {
	color: #a5b753;
}
.widget.widget_nav_menu li.menu-parent-item a:before, .widget.widget_submenu li.menu-parent-item a:before {
	border-color: #a5b753;
	color: #3b3e4f;
}
.widget.widget_nav_menu li.current-menu-item a, .widget.widget_nav_menu li.current-menu-ancestor a, .widget.widget_submenu li.current-menu-item a, .widget.widget_submenu li.current-menu-ancestor a {
	color: #a5b753;
}
.widget.widget_nav_menu li.current-menu-item ul, .widget.widget_nav_menu li.current-menu-ancestor ul, .widget.widget_submenu li.current-menu-item ul, .widget.widget_submenu li.current-menu-ancestor ul {
	border-color: #d0cec4;
	background-color: #dfeae0;
}
.widget.widget_nav_menu li li.current-menu-item, .widget.widget_submenu li li.current-menu-item {
	color: #a5b753;
	background-color: #a5b753;
}
.widget.widget_nav_menu li.current-menu-ancestor li a:before, .widget.widget_submenu li.current-menu-ancestor li a:before {
	color: #a5b753;
}
.widget.widget_nav_menu li.current-menu-ancestor li.current-menu-item a, .widget.widget_submenu li.current-menu-ancestor li.current-menu-item a {
	color: #ffffff;
}
.widget.widget_nav_menu li.current-menu-ancestor li.current-menu-item a:before, .widget.widget_submenu li.current-menu-ancestor li.current-menu-item a:before {
	color: #ffffff;
}
.widget.widget_nav_menu li.current-menu-item li a, .widget.widget_nav_menu li.current-menu-ancestor li a, .widget.widget_submenu li.current-menu-item li a, .widget.widget_submenu li.current-menu-ancestor li a {
	color: #3b3e4f;
}
.widget.widget_nav_menu li li.current-menu-item a, .widget.widget_nav_menu li li.current-menu-ancestor a, .widget.widget_submenu li li.current-menu-item a, .widget.widget_submenu li li.current-menu-ancestor a {
	color: #a5b753;
}
/* Team */
.team-item .team-image {
	background-color: #ffffff;
}
.team-item .team-name {
	font-family: 'Supra ThinDemiserif';
	font-size: 24px;
	line-height: 31px;
	font-weight: normal;
	font-style: normal;
}
.widget.widget_calendar th, .widget.widget_calendar caption {
	color: #a4a39a;
}
.widget.widget_calendar td a {
	color: #ffffff;
	background-color: #56797f;
}
.twitter-box .jtwt_tweet:before {
	color: #d0cec4;
}
.widget.picturebox .description, .widget.widget_search form {
	background-color: #ffffff;
}
/* TEAM */

.team-element-email a:before {
	color: #d0cec4;
}
.team-element-position {
	color: #a4a39a;
}
.team-element-name {
	font-family: 'Supra ThinDemiserif';
	font-size: 24px;
	line-height: 31px;
	font-weight: normal;
	font-style: normal;
}
.team-element-image {
	background-color: #ffffff;
}
.team-element {
	border-color: #d0cec4;
}
/* CLIENTS */

.clients.block {
	background-color: #dfeae0;
}
.clients ul.list li a {
	background-color: #ffffff;
}
.clients ul.filter li a {
	color: #3b3e4f;
}
.clients ul.filter li a:hover, .clients ul.filter li.active a {
	color: #a5b753;
}
.clients ul.filter li .icon {
	color: #d0cec4;
}
.clients ul.filter li a:hover .icon, .clients ul.filter li.active a .icon {
	color: #a5b753;
}
/* DIAGRAMS */

.skill-line {
	background-color: #ffffff;
}
.diagram-circle .text {
	color: #a4a39a;
}
.diagram-circle .text div {
	font-family: 'Supra ThinDemiserif';
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	color: #a4a39a;
}
.diagram-circle .text div span {
	font-family: 'Supra ThinDemiserif';
	font-weight: Supra ThinDemiserif;
	font-style: normal;
	color: #a5b753;
}
.diagram-circle .text div span.title {
	font-family: 'Supra ThinDemiserif';
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	color: #a4a39a;
}
.diagram-circle .text div span.summary {
	font-family: 'Geometria Light';
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	color: #3b3e4f;
}
.diagram-legend .legend-element .title {
	font-family: 'Supra ThinDemiserif';
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	color: #a4a39a;
}
/* SLIDESHOW & OVERLAY ICONS */

.slideshow .nivo-directionNav a.nivo-nextNav:before, .slideshow .nivo-directionNav a.nivo-prevNav:before, html * .slideshow .ls-container .ls-nav-prev:before, html * .slideshow .ls-container .ls-nav-next:before, .portfolio ul.thumbs li .overlay .p-icon, .block.portfolio ul.thumbs li .overlay .p-icon, .gallery .navigation.preview-navigation .prev:before, .gallery .navigation.preview-navigation .next:before, .gallery .preview li a span.overlay .p-icon, .gallery-three-columns ul li a span.overlay .p-icon, .gallery-four-columns ul li a span.overlay .p-icon, .image.wrap-box .fancy .overlay:before {
	border-color: #ffffff;
	color: #87d890;
}
/*********** Jason Updated ************/
#header.header-fixed #site-navigation > ul > li > a {
	line-height: 25px;
!important;
}
#header #site-navigation ul ul {
	width:165px !important;
}
#header #site-navigation li a {
	font-family:'微软雅黑' !important;
}
body {
	font-family:'微软雅黑' !important;
	font-size:14px!important;
}
#content .inner > p, .block.content .inner > p {
	line-height:23px!important;
	font-size:14px!important;
}
h1, h2, h3, h4, h5, h6 {
	font-family:'微软雅黑' !important;
}
h1 {
	font-size:38px!important;
}
.quickfinder {
	padding:30px 0;
}
.quickfinder ul li .title {
	font-family:'微软雅黑' !important;
}
.quickfinder ul li .description {
	font-family:'微软雅黑' !important;
	font-size:14px!important;
}
.portfolio ul.thumbs li .title, .block.portfolio ul.thumbs li .title {
	font-family:'微软雅黑' !important;
}
.portfolio ul.thumbs li .description {
	font-family:'微软雅黑' !important;
}
#footer .socials-icons .text {
	padding-bottom:0!important;
}
#footer #contacts {
	padding:30px 0!important;
}
.block.clients {
	padding:30px 0!important;
}
.block.content {
	padding:30px 0 0 !important;
}
.block.content .central-wrapper {
	padding-bottom:30px!important;
}
.block.portfolio {
	padding:30px 0!important;
}
.slideshow .nivo-caption .title {
	font-family:'微软雅黑' !important;
}
.page-title-block-content {
	padding:40px 0;
}
.team-element-name {
	font-family:'微软雅黑';
}
.page-title-block-content {
	padding:0;
	height:150px;
}
.page-title-block .page-title-block-header h1 {
	display:none;
}
body {
	position:relative;
}
#BDBridgeIconWrap {
	margin:0!important;
}
#respond {
	display:none;
}
.post-author-block {
	display:none;
}
.iconed-title, .iconed-text {
	padding-top:0;
}
.related-element.without-image > a {
	width: 70px;
	height: 70px;
	background:#fff url('../images/related_posts_img.png') no-repeat 50% 50%;
}
.news_item img {
	width:80px!important;
	height:80px!important;
	border-radius:50%;
}
/***
.quickfinder.block, .slideshow.block,#footer #contacts{background-color:#00366c;}
#header,#header.header-fixed{background-color:#002a50;}
#bottom-line{background-color:#002a50 !important;}
***/
.contacts-info.sidebar {
	width:330px;
	position:absolute;
	right:50px;
	margin:0 !important;
}
h4.hidden {
	display:none;
}
